.wrap {
    background-color: #F6F6F6;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    padding-bottom: 1px;
    .copyright {
        margin: 4em 0;
        border-top: 1px solid #d6d6d6;
        text-align: center;
        p, a {
            color: #aaa;
            font-size: 14px;
            font-weight: 100;
        }
        a:hover {
            color: #888;
        }
    }
}