extends partial/layout

block site_title
    != config.title + " - " + page.title

block description
    - var desc = page.title || page.desc + ' - ' + config.author;
    meta(name="description", content=desc)

block container
    if page.title === "categories"
        .archive
            - var categories = site.categories['data']
            - for (var i in categories)
                h2.archive-year
                    != categories[i]['name']
                - var posts = site.posts['data']
                - for (var k in posts)
                    if categories[i]['name'] === posts[k]['categories']['data']['0']['name']
                        .post-item
                            .post-info
                                != full_date(posts[k]['date'], 'YYYY-MM-DD')
                            a.post-title-link(href= url_for(posts[k]['path']))
                                != posts[k]['title']
    else if page.title === "app"
    else
        include mixins/post
        +post(page)

block pagination
    include mixins/paginator
    +post()
    include partial/comment

block copyright
    include partial/copyright