extends partial/layout

block site_title
    != config.title + " - " + page.title

block description
    - var desc = page.title || page.desc + ' - ' + config.author;
    meta(name="description", content=desc)

block container
    if page.title === "categories"
        .archive
            - var categories = site.categories['data']
            - for (var i in categories)
                h2.archive-year
                    != categories[i]['name']
                - var posts = site.posts['data']
                - for (var k in posts)
                    if categories[i]['name'] === posts[k]['categories']['data']['0']['name']
                        .post-item
                            .post-info
                                != full_date(posts[k]['date'], 'YYYY-MM-DD')
                            a.post-title-link(href= url_for(posts[k]['path']))
                                != posts[k]['title']
    else if page.title === "app"　
            .appheaderdiv
                .appimgdiv
                    a.applogo-link(href="https://github.com/hellomafei" target="_blank")
                        img(src="app1.ico" alt="logo")
                    a.appname(href="https://github.com/hellomafei" target="_blank") 马上有饭
                .appinfodiv
                    ul
                        li 马上有饭马上有饭马上有饭马上有饭马上有饭马上有饭
                        li 马上有饭马上有饭马上有饭马上有饭马上有饭马上有饭
                        li 马上有饭马上有饭马上有饭马上有饭马上有饭马上有饭
                        
                    
            //- .appheader
            //-     a.applogo-link(href="https://github.com/hellomafei" target="_blank")
            //-         img(src="app1.ico" alt="logo")
            //-     a.appname-link(href="https://github.com/hellomafei" target="_blank")
            //-         h2.appname XXXX平台XXXX预警系统
            //-         h4.appgithub src: https://github.com/hellomafei
            //- .appintroduce
            //-     h3 jieshao
    else
        include mixins/post
        +post(page)

block pagination
    include mixins/paginator
    +post()
    include partial/comment

block copyright
    include partial/copyright