extends partial/layout

block site_title
    != config.title + " - " + page.title

block description
    - var desc = page.title || page.desc + ' - ' + config.author;
    meta(name="description", content=desc)

block container
    if page.title === "categories"
        .archive
            - var posts1 = site.posts['data'];
            //- - for (var k in posts1)
            //-     p
            //-         != JSON.stringify(posts1[k]['title'])
            //- p -------------------------------------------------
            //- - var posts2 = site.posts['data'];
            //- - for (var k in posts2)
            //-     p
            //-         != date(posts2[k]['date'], 'YYYY-MM-DD')
            //- p -------------------------------------------------
            //- - var posts3 = site.posts['data'];
            //- - for (var k in posts3)
            //-     p
            //-         != posts3[k]['categories']['data']['0']['name']
            //- p -------------------------------------------------
            //- - var posts4 = site.posts['data'];
            //- - for (var k in posts4)
            //-     p
            //-         != posts3[k]['path']
            //- p -------------------------------------------------

            - var categories = site.categories['data']
            - for (var i in categories)
                h2.archive-year
                    != categories[i]['name']
                - var posts = site.posts['data']
                - for (var k in posts)
                    if categories[i]['name'] === posts[k]['categories']['data']['0']['name']
                        .post-item
                            .post-info
                                != full_date(posts[k]['date'], 'YYYY-MM-DD')
                        a.post-title-link(href= url_for(posts[k]['path']))
                            != posts[k]['title']
    else if page.title === "app"
    else
        include mixins/post
        +post(page)

block pagination
    include mixins/paginator
    +post()
    include partial/comment

block copyright
    include partial/copyright